/* login */
body.login-page {
	background-color: #2389da !important;
}
.login-box {
	min-width: 40% !important;
}
.login-card-body {
	border-radius: 10px;
	background-color: #4baf47;
  	color: white;
}
.link-bawah {
	font-size: 1em;
}
.link-bawah a {
	color: white;
}
.link-bawah a:hover {
	color: black;
}